# Target build directories
**/target/
**/build/

# Compiled class files
*.class

# Log files
*.log
**/logs/

# Package file formats
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS metadata
.DS_Store
Thumbs.db

# IDE and Editor files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.sublime-workspace
*.sublime-project
